In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
import json
%matplotlib inline

In [2]:
# Import Train and Test Data 
dfpath= '/Users/Administrator/Desktop/'
dfdata =  pd.read_csv(dfpath + 'takehome_users.csv',encoding='ISO-8859-1')

mydf = pd.DataFrame(dfdata)
mydf

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [3]:
mydf.groupby(['name','email'])['creation_source'].agg(pd.Series.mode)

name               email
Aachen David       DavidAachen@yahoo.com                          SIGNUP
Aachen Diana       DianaAachen@yahoo.com                    GUEST_INVITE
Aachen Frank       FrankAachen@cuvox.de                           SIGNUP
Aachen Klaus       KlausAachen@gustr.com                    GUEST_INVITE
Aachen Petra       PetraAachen@gmail.com              SIGNUP_GOOGLE_AUTH
                                                             ...
Østergaard Niels   NielsMstergaard@jourrapide.com             ORG_INVITE
Østergaard Nina    kijwfmun@egruv.com                  PERSONAL_PROJECTS
Østergaard Sara    SaraNstergaard@cuvox.de                    ORG_INVITE
Østergaard Tilde   TildeMstergaard@cuvox.de                   ORG_INVITE
Østergaard Torben  TorbenMstergaard@jourrapide.com     PERSONAL_PROJECTS
Name: creation_source, Length: 11981, dtype: object

In [4]:
mydf.groupby(['name','email'])['creation_source'].agg(pd.Series.mode).value_counts(dropna=False)

ORG_INVITE                          4242
GUEST_INVITE                        2157
PERSONAL_PROJECTS                   2109
SIGNUP                              2081
SIGNUP_GOOGLE_AUTH                  1380
[GUEST_INVITE, ORG_INVITE]             1
[ORG_INVITE, SIGNUP]                   1
[GUEST_INVITE, SIGNUP]                 1
[GUEST_INVITE, ORG_INVITE]             1
[ORG_INVITE, SIGNUP]                   1
[ORG_INVITE, SIGNUP_GOOGLE_AUTH]       1
[ORG_INVITE, SIGNUP_GOOGLE_AUTH]       1
[ORG_INVITE, PERSONAL_PROJECTS]        1
[ORG_INVITE, SIGNUP]                   1
[GUEST_INVITE, SIGNUP]                 1
[GUEST_INVITE, SIGNUP]                 1
[GUEST_INVITE, ORG_INVITE]             1
Name: creation_source, dtype: int64

In [5]:
userset = mydf.set_index('creation_time')
userset

,object_id,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
creation_time,,,,,,,,,
2014-04-22 03:53:30,1,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
2013-11-15 03:45:04,2,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2013-03-19 23:14:52,3,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
2013-05-21 08:09:28,4,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
2013-01-17 10:14:20,5,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...
2013-09-06 06:14:15,11996,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
2013-01-10 18:28:37,11997,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
2014-04-27 12:45:16,11998,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
2012-05-31 11:55:59,11999,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
2014-01-26 08:57:12,12000,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [6]:
userset.index = pd.to_datetime(userset.index,  format='%Y-%m-%d %H:%M:%S')

In [7]:
resampleddf = userset.resample('3D').count()

In [8]:
resampleddf

,object_id,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
creation_time,,,,,,,,,
2012-05-31,44,44,44,44,32,44,44,44,24
2012-06-03,31,31,31,31,20,31,31,31,18
2012-06-06,38,38,38,38,29,38,38,38,19
2012-06-09,34,34,34,34,29,34,34,34,19
2012-06-12,41,41,41,41,27,41,41,41,23
...,...,...,...,...,...,...,...,...,...
2014-05-18,84,84,84,84,66,84,84,84,42
2014-05-21,109,109,109,109,87,109,109,109,59
2014-05-24,115,115,115,115,72,115,115,115,59
2014-05-27,135,135,135,135,100,135,135,135,91
2014-05-30,71,71,71,71,53,71,71,71,40

In [9]:
resampleddf['name'].agg(pd.Series.mode).value_counts(dropna=False)

45    1
dtype: int64

In [12]:
resampleddf[-7:] = userset.resample('3D').count()

In [14]:
resampleddf[-7:]

,object_id,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
creation_time,,,,,,,,,
2014-05-12,90,90,90,90,64,90,90,90,41
2014-05-15,88,88,88,88,51,88,88,88,42
2014-05-18,84,84,84,84,66,84,84,84,42
2014-05-21,109,109,109,109,87,109,109,109,59
2014-05-24,115,115,115,115,72,115,115,115,59
2014-05-27,135,135,135,135,100,135,135,135,91
2014-05-30,71,71,71,71,53,71,71,71,40

Defining  an  "adopted  user"   as  a  user  who   has  logged  into  the  product  on  three  separate
days  in  at  least  one  seven­day  period ,  identify  which  factors  predict  future  user
adoption.

We  suggest  spending  1­2  hours  on  this,  but  you're  welcome  to  spend  more  or  less.
Please  send  us  a  brief  writeup  of  your  findings  (the  more  concise,  the  better  ­­  no  more
than  one  page),  along  with  any  summary  tables,  graphs,  code,  or  queries  that  can  help
us  understand  your  approach.  Please  note  any  factors  you  considered  or  investigation
you  did,  even  if  they  did  not  pan  out.  Feel  free  to  identify  any  further  research  or  data
you  think  would  be  valuable.